* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  color: white;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

main video {
  border-radius: 15px;
}
