* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  color: white;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.video {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

main video {
  border-radius: 15px;
}

main > p {
  width: 800px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding-bottom: 50px;
}
